<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    swig 模版 {{data}}
    <form action="/insertGestationInfo" method="post">
        <p>cid: <input name="cid" value="koa"></p>
        <p>type: <input name="type" value="koa"></p>
        <p>inoculateDay: <input name="inoculateDay" value="koa"></p>
        <p>dueTimeDay: <input name="dueTimeDay" value="koa"></p>
        <p>describe: <input name="describe" value="koa"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>